@import url('https://fonts.googleapis.com/css?family=Exo:200|Roboto:300');

html {
    width: 100%;
    height: 100%;
}
p, b {
    font-size: 130%;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
    font-family: "Exo";
    margin-bottom: 10px;
}